.task{
    display: flex;
    justify-content: center;
}

.taskbox{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
    width: 400px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
}

.task-desc button{
    background-color: #c7ddf6; 
    width: 50px;
    height: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border-style: none;
    font-weight: 500;
} 

.task-desc button:hover{
    background-color: white;
}

.taskbox input{
    margin-right: 8px;
    accent-color: #9fb3e5;
}




